footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.book {
  display: inline-block;
  border: 1px solid black;
}

.book-read {
  background-color: #D4E9FE;
}

.book-selected {
  background-color: #ccffcc;
}

.ignored {
  background-color: red;
}

.shelf-form {
  border: 1px solid blue;
}

.shelf-series {
  border: 1px solid red
}