{% macro book(workRow, selectable) -%}
	<div class="book {% if selectable %}book-selectable book-selected{% endif %}" data-book-id={{workRow["bestBookId"]}}>
		{{workRow["workName"]}}, <img src="{{workRow['bookImageUrl']}}"> ({{workRow["position"]}})
	</div>
{%- endmacro %}

<div class="shelf-form">
	<div class="shelf-name-input">
		Enter a name for the new shelf: <input type="text" name="fname" value="{{newShelfName}}"><br>
	</div>
	<div class="shelf-books">
		{% for seriesId in booksToAdd %}
		  <div class="shelf-series">
		  	{{seriesNames[seriesId]}}
		  	<div class="book book-read">
		  		{{ book(readBooks[seriesId], false)}}
		  	</div>
		  	{% for work in booksToAdd[seriesId] %} {{ book(work, true) }} {% endfor %}
		  </div>
		{% endfor %}
	</div>
	<button type="button" class="shelf-create-button">Create</button>
</div>